.top-banner-block {
    max-height: 1141px;
    border: 1px solid red;
    height: 300px;
}

.top-banner-pic {
    max-width: 1183px;
    max-height: 1141px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
}

header {

}

li {
    display: inline-block;
}