.main-btn {
    height: 48px;
    border-radius: 8px;
    background-color: $blue;
    border: none;
    color: #ffffff;
    padding: 5px;
    margin-bottom: 80px;
    &:hover {
      background-color: darken($blue, 20);
      cursor: pointer;
      transition: 200ms;
    }
    &:active {
      outline: none;
    }
    &:focus {
      outline: none;
    }
  }
