@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
@import 'normalize.css';
@import '_variables.scss';
@import '_buttons.scss';

*,
*::before,
*::after {
box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 16px;
}

.page-container {
  width: 100%;
  min-width: 320px;
  max-width: 1544px; // 1496+48
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
}

.flex-parent {
  display: flex;
}

.general-page-heading {
  font-size: 80px;
  font-weight: 600;
  line-height: 1.2;
  color: $black;
  margin: 0px;
}

.page-heading {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  color: $black;
  margin-bottom: 80px;
  margin-top: 0px;
}

.what-we-do-heading {
  @extend .page-heading;
  margin-bottom: 48px;
}

.page-subheading {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: $black;
  margin: 32px 0px 16px 0px;
}

.description-paragraph {
  display: block;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $gray;
  margin-top: 16px;
  margin-bottom: 24px;
  min-height: 72px;
}

.page-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 24px;
}

.page-logo {
  margin-right: 5px;
}

.header-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-main-link {
  text-decoration: none;
  cursor: pointer;
  transition: 200ms;
  &:hover {
    text-decoration: none;
    transform: translateY(-5px);
    transition: 200ms;
  }
  &:active {
    text-decoration: none;
  }
}

.project-name-box {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $black;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-name {
  margin-left: 5px;
}

.navigation {
  width: 450px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: relative;
  letter-spacing: 1px;
}

.nav-link {
  color: white;
  text-decoration: none;
  transition: 200ms;
}

.nav-link:hover {
  cursor: pointer;
  text-decoration: none;
  transform: translateY(-5px);
  transition: 200ms;
}

.shopping-cart {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
}

.shopping-cart::after {
  content: '2';
  text-align: center;
  position: absolute;
  color: $black;
  line-height: 1.4em;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  top: -3px;
  right: -3px;
}

.title-box {
  height: 1141px;
  max-height: 1141px;
}

.title-wrapper {
  display: flex;
  height: 1141px;
  align-items: center;
  margin-top: -64px;
}

.general-heading-box {
  width: 36,4583333333333%;
  max-width: 700px;
}

.general-description {
  max-width: 521px;
  height: 64px;
  font-size: 24px;
  color: $gray;
  line-height: 1.33;
}

.general-pic-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 61.6145833333333%;
  max-width: 1183px;
  max-height: 1141px;
}

.general-picture {
  max-width: 100%;
}

.testimonials-box {
  margin-top: 212px;
  width: 100%;
}

.testimonials-description {
  max-width: 856px;
  margin-left: 134px;
  font-size: 24px;
  line-height: 32px;
  font-style: italic;
  position: relative;
  p {
    margin: 0px;
  }
}

.testimonials-author {
  position: absolute;
  bottom: -32px;
  widows: 280px;
  height: 19px;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
  color: $gray;
}

.testimonials-slider-box {
  min-width: 190px;
  height: 12px;
  margin-top: 5px;
  margin-left: 48px;
  display: flex;
  position: relative;
}

.arrow-left-box {
  width: 8px;
  height: auto;
  position: absolute;
  top: -4px;
}

.arrow-right-box {
  width: 8px;
  height: auto;
  position: absolute;
  top: -4px;
  right: 0px;
}

.slider-points-box {
  position: absolute;
  left: -8px;
  top: -2px;
  height: 18px;
  ul {
    margin: 0px;
  }
}

.slider-point {
  display: inline-block;
  list-style: none;
}

.slider-point::before {
  content: '';
  margin: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $gray2;
  display: inline-block;
}

/////////// TODO: Связать через JS поинт с активным слайдера и задать ему цвет.///////
/////////// Пока нет JS'a - цвет задан первому поинту ////////////////////////////////
.slider-point:first-child::before {
  background: $blue;
}

.modeles-box {
  margin-top: 128px;
  height: 1472px;
  width: 100%;
}

.modeles-content-box {
  width: 100%;
  height: 1150px;
}

.modeles {
  display: grid;
  grid-template:
    'b b'
    'b b';
  grid-column-gap: 40px;
  padding: 0px;
}

.model-box {
  display: block;
  width: 100%;
}

.model-pic {
  width: 100%;
  height: 320px;
  border-radius: 8px;
  margin-bottom: 32px;
}

.model-btn {
  @extend .main-btn;
  min-width: 220px;
}

.consulting-box {
  height: 944px;
  width: 100%;
}

.consulting-list {
  display: flex;
  padding: 0px;
  height: 520px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #979caa54;
}

.consulting-item {
  display: block;
  height: 100%;
  width: 472px;
}

.consulting-pic {
  border-radius: 8px;
  height: 320px;
  width: 100%;
}

.signature {
  height: 48px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

.signature-description {
  width: 856px;
  font-family: Inter;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: $black;
}

.sign-btn {
  @extend .main-btn;
  width: 216px;
}

.what-we-do-box {
  min-height: 738px;
  width: 100%;
  display: flex;
}

.flex-align-center {
  align-items: center;
  min-height: 738px;
}

.what-we-do-pic-wrapper {
  position: relative;
  width: 51.15%;
  max-width: 984px;
  height: 738px;
}

.what-we-do-content {
  width: 48.75%;
  max-width: 600px;
  padding-left: 6.4583333333333%;
}

.what-we-do-pic-pos-absolute {
  max-width: 984px;
  max-height: 738px;
  width: 100%;
  position: absolute;
  left: -24px;
}

.what-we-do-btn {
  @extend .main-btn;
  width: 186px;
}

.articles-box {
  margin-top: 200px;
  width: 100%;
}

.articles-list {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.articles-item {
  display: inline-block;
  max-width: 344px;
  border-radius: 8px;
  transition: 200ms;
  &:hover {
    box-shadow: 0 -8px 16px 0 rgba(0,0,0,0.16);
    margin-top: 8px;
  }
}

.articles-link {
  color: $black;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    outline: none;
  }
  &:active {
    text-decoration: none;
    outline: none;
  }
  &:visited {
    text-decoration: none;
  }
}

.article-pic-box {
  width: 344px;
  height: 201px;
  border-radius: 8px;
}

.articles-heading {
  display: block;
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: $black;
  margin-top: 24px;
  margin-bottom: 16px;
}

.articles-arrow-item {
  width: 344px;
  height: 201px;
  border-radius: 8px;
  border: 4px solid $blue;
  box-sizing: border-box;
  transition: 200ms;
  &:hover {
    box-shadow: 0 -8px 16px 0 rgba(0,0,0,0.16);
    margin-top: 8px;
  }
}

.articles-arrow-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 344px;
  height: 201px;
  border-radius: 8px;
}

.page-footer {
  margin-top: 200px;
  background-color: $black;
  height: 200px;
}

.footer-flex-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

.footer-logo-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 220px;
  & span {
    display: inline-block;
    max-width: 130px;
    margin-left: 20px;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 600;
  }
}

.footer-navigation-box {
  display: flex;
  flex-direction: column;
  min-width: 468px;
}

.footer-nav-box {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.footer-nav-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  transition: 200ms;
  &:hover {
    transform: translateY(-5px);
    color: $blue;
    transition: 200ms;
  }
}

.footer-contacts {
  display: flex;
  align-self: flex-end;
  min-width: 430px;
  justify-content: space-between;
  color: #ffffff;
  font-size: 14px;
  font-weight: 200;
}

.footer-adress {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-telephone {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.place-icon-box {
  display: inline-block;
  margin-right: 13px;
  width: 14px;
  height: 20px;
}

.telephone-icon-box {
  display: inline-block;
  margin-right: 11px;
  width: 18px;
  height: 18px;
}

