@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap");

$b: 1px solid black;
$black: #0e0f21;
$blue: #2a4bff;
$gray: #6e6f7a;
$gray2: #979CAA;
$line: #979caa;

@mixin main-bttn {
  width: 100px;
  height: 48px;
  border-radius: 8px;
  background-color: $blue;
  border: none;
  color: #ffffff;
  padding: 0px;
  margin-bottom: 80px;
  &:hover {
    background-color: darken($blue, 30);
  }
}

@mixin main-heading {
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  color: $black;
  margin-bottom: 80px;
}

body {
  background-color: #ffffff;
  font-family: Inter, sans-serif;
}

.page-container {
  margin: 0 auto;
  width: 77.9166666666667%;
}

.flex-parent {
  display: flex;
}
 
.general-page-heading {
  font-size: 80px;
  font-weight: bold;
  line-height: 1.2;
  color: $black;
}
  
.page-heading-80px-margin-bottom {
  @include main-heading;
}

.page-heading-48px-margin-bottom {
  @include main-heading;
  margin-bottom: 48px;
  
}

.page-subheading {
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  color: $black;
  margin: 32px 0px 16px 0px;
}

.description-paragraph {
  display: block;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $gray;
  margin-top: 16px;
  margin-bottom: 24px;
  min-height: 72px;
}

.page-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 24px;
}

.page-logo {
  margin-right: 5px;
}

.header-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-main-link {
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

.project-name-box {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  color: $black;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-name {
  margin-left: 5px;
}

.navigation {
  width: 450px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: relative;
  letter-spacing: 1px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  cursor: pointer;
}

.navigation::after {
  content: "2";
  padding: 0px 4px 0px;
  line-height: 1.4em;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 6px;
  right: 12px;
}

.top-title-box {
  height: auto;
  width: 100%;
}

.general-heading-box {
  width: 706px;
  height: 288px;
  margin: 360px 0 40px;
}

.general-description {
  width: 521px;
  height: 64px;
  font-size: 24px;
  color: $gray;
  line-height: 1.33;
}

.general-pic-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 61.6145833333333%;
  height: 1141px;
}

.testimonials-box {
  margin-top: 602px;
  height: 335px;
}

.testimonials-description {
  width: 856px;
  height: 96px;
  margin-left: 134px;
  font-size: 24px;
  line-height: 32px;
  font-style: italic;
  position: relative;
}

.testimonials-author {
  position: absolute;
  bottom: -32px;
  widows: 280px;
  height: 19px;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
  color: $gray;
}

.testimonials-slider-box {
  width: 190px;
  height: 12px;
  margin-left: 48px;
  display: flex;
  position: relative;
}

.arrow-left-box {
  width: 8px;
  height: auto;
  position: absolute;
  top: -5px;
}

.arrow-right-box {
  width: 8px;
  height: auto;
  position: absolute;
  top: -5px;
  right: 0px;
}

.slider-points-box {
  position: absolute;
  left: -8px;
  top: -2px;
  }

.slider-point {
  display: inline-block;
  list-style: none;
}

.slider-point::before {
  content: "";
  margin: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $gray2;
  display: inline-block;
}

/////////// TODO: Связать через JS поинт с активным слайдера и задать ему цвет.///////
/////////// Пока нет JS'a - цвет задан первому поинту ////////////////////////////////
.slider-point:first-child::before {
  background: $blue;
}

.modeles-box {
  height: 1472px;
  width: 100%;
}

.modeles-content-box {
  width: 100%;
  height: 1150px;
}

.modeles {
  display: grid;
  grid-template:
  "b b"
  "b b";
  grid-column-gap: 40px;
  padding: 0px;
}

.model-box {
  display: block;
  width: 100%;
}

.model-pic {
  width: 100%;
  height: 320px;
  border-radius: 8px;
  margin-bottom: 32px;
}

.model-bttn {
  @include main-bttn;
  width: 220px;
}

.consulting-box {
  height: 944px;
  width: 100%;
}

.consulting-list {
  display: flex;
  padding: 0px;
  height: 520px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #979caa54;
}

.consulting-item {
  display: block;
  height: 100%;
  width: 472px;
}

.consulting-pic {
  border-radius: 8px;
  height: 320px;
  width: 100%;
}

.signature {
  height: 48px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

.signature-description {
  width: 856px;
  font-family: Inter;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: $black;
}

.sign-bttn {
  @include main-bttn;
  width: 216px;
}

.what-we-do-box {
  height: 938px;
  width: 100%;
  display: flex;
}

.what-we-do-pic-wrapper {
  width: 51.15%;
}

.what-we-do-content {
  width: 48.75%;
  padding-top: 190px;
  padding-left: 124px;
}

.what-we-do-pic-pos-absolute {
position: absolute;
left: 0px;
}

.what-we-do-bttn {
  @include main-bttn;
  width: 186px;
}